<!DOCTYPE html>
<html>
<head>
  <title><%= format_title %></title>
  <style type="text/css">
    body {
      background: #F8F6F3;
      color: #000;
      font-family: Helvetica, Arial, sans-serif;
      margin: 10px;
      font-size: 16px;
    }
    ul, li {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    p,
    .config-mailbox {
    	margin: 0 0 1em 0;
    	line-height: 21px;
    }
    .config {
      border: 1px solid #E8E6E3;
      background: #fff;
      padding: 1em 20px;
      max-width: 416px;
      margin: 0 auto;
    }
    .config-title {
      margin: 0 0 0.5em 0;
      font-size: 1.5em;
    }
    .config-intro {
      font-weight: bold;
      margin: 1em 0;
      line-height: 1.3em;
    }
    .config-error {
      color: #900;
    }
    .config-mailbox {
      margin-bottom: 1em;
    }
      select {
        font-size: 1em;
      }
      .config-mailbox-metrics {
        display: none;
        margin-top: 0.3em;
        margin-bottom: 0;
      }
        .config-mailbox-metric {
          white-space: nowrap;
        }
    .config-submit-button {
      background: #FED84D;
      border: 1px solid #EEC83D;
      color: #000;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 1em;
      font-weight: bold;
      padding: 0.5em 10px;
      margin-right: 15px;
    }
    .config-submit-button:hover {
      background: #FCCA2E;
      cursor: pointer;
    }
  </style>

</head>
<body>
  <div class="config">
    <h1 class="config-title"><%= format_title %></title></h1>


		<form method="post" action="<%= url("/mailboxes/") %>">
		  
		  <p class="config-intro">You can choose up to <%= settings.max_mailboxes %> Gmail mailboxes/labels to appear on your Little Printer publication.</p>

		  <p>For each one, pick a different statistic to monitor. You can choose the same mailbox multiple times, but with different statistics.</p>

      <ul class="config-mailboxes">
        <% for m in 1..settings.max_mailboxes %>
          <li class="config-mailbox">
            <select name="mailbox-<%= m %>" data-options-element="config-mailbox-metrics-<%= m %>">
              <option value="">Select a mailbox…</option>
              <% @mailboxes.each do |mb| %>
                <% unless mb.attr.include?(:Noselect) %>
                  <option value="<%= mb.name %>"<% if @form_values['mailbox-'+m] && @form_values['mailbox-'+m] == mb.name %> selected="selected"<% end %>><%= mb.name %></option>
                <% end %>
              <% end %> 
            </select>
            <p class="config-mailbox-metrics" id="config-mailbox-metrics-<%= m %>">
              <% settings.valid_mailbox_metrics.each_pair do |key, label| %>
                <span class="config-mailbox-metric">
                  <input type="radio" name="metric-<%= m %>" value="<%= key %>" id="metric-<%= m %>-<%= key %>"<% if @form_values['metric-'+m] == key %> checked="checked"<% end %>>
                  <label for="metric-<%= m %>-<%= key %>"><%= label %></label>
                </span>
              <% end %>
            </p>
          </li>
        <% end %>
      </ul>

		  <p class="config-submit">
		    <input type="submit" value="Submit" class="config-submit-button" />
		  </p>
		</form>


  </div> <!-- .config -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){

      // $select is a <select> element.
      var set_radios = function($select) {
        var $radios = $('#' + $select.data('metric-element'));

        if ($select.val() == '') {
          $radios.slideUp(); // Hide the metrics.
        } else {
          $radios.slideDown(); // Show the optinos.
        };
      };

      // Hide the correct mailbox metrics on page load.
      $('.config-mailbox select').each(function(){
        set_radios($(this));
      });

      // When the user chooses (or not) a mailbox, show the metrics.
      $('.config-mailbox select').change(function(){
        set_radios($(this));
      });

    });
  </script>
</body>
</html>