<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
  <title><%= format_title %></title>

  <style type="text/css">
    body {
      background: #fff;
      color: #000;
      width: 384px;
      padding: 0;
      margin: 0;
      font-family: Arial, sans-serif;
      font-size: 20px;
    }
  </style>

</head>
<body>
  <h1>Gmail</h1>

  <p>For <%= @email_address %></p>

  <% @mail_data.each_pair do |mailbox, mdata| %>
    <h2><%= mailbox.capitalize %></h2>

    <p>
      Unread: <%= mdata[:unseen_count] %><br />
      Starred: <%= mdata[:flagged_count] %><br />
      Received in past 24 hours: <%= mdata[:recent_count] %><br />
      Total: <%= mdata[:all_count] %>
    </p>

  <% end %>

</body>
</html>
