
    <% if @days_of_data <= 1 %>
      <p class="intro">There’s only one day’s worth of data so far. In a couple of days we
        can start charting it…</p>

    <% elsif @days_of_data == 2 %>
      <p class="intro">Tomorrow we’ll have a chart of your Gmail data…</p>

    <% elsif @days_of_data == 3 %>
      <% if @mailboxes.length == 1 %>
        <p class="intro">Here’s your first chart. It’ll look more interesting as the days go by…</p>
      <% else %>
        <p class="intro">Here are your first charts. They’ll look more interesting as the days go by…</p>
      <% end %>
    <% end %>


    <% @mailboxes.each_with_index do |mb, idx| %>

      <div class="mb">
        <p class="mb-num mb-num-<%= idx %>"><%= format_number(mb[:count]) %></p>
        <p class="mb-desc mb-desc-<%= idx %>">
          <span class="mb-metric"><%= format_metric(mb[:metric]).upcase %></span> in <br />
          <span class="mb-name"><%= format_mailbox_name(mb[:name]) %></span>
        </p>

        <% if @days_of_data >= 3 %>
          <div id="chart-<%= idx %>" class="chart"></div>
        <% end %>
      </div>
    <% end %>

      <footer <% if @days_of_data < 3 %>class="empty"<% end %>>
        <% if @days_of_data >= 3 %>
          <p>Charts show <%= pluralize(@days_of_data, 'day') %> of data</p>
        <% end %>
      </footer>

